@font-face {
    font-family: 'Pixel';
    src: url(./fonts/TeletactileRus.ttf);
}
@font-face {
    font-family: 'Rabbit';
    src: url(./fonts/TTRabbitsElfDEMO.otf);
}
@font-face {
    font-family: 'Lumios';
    src: url(./fonts/LumiosTypewriter-Tape_0.ttf);
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Pixel';
    background-color: #ebedf5;
    margin: 0;
}

header {
    text-align: center;
    box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}
.fix{
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 5;
}
.menu {
    display: flex;
    justify-content: space-around;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 3px;
}

a:hover {
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

a:active {
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.1) inset;
}
.buttons{
    display: flex;
    counter-reset: button-counter;
    justify-content: space-around;
}
.button-cover {
    height: 300px;
    width: 450px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    color: #afa4a4;
    font-size: 16px;
    line-height: 1;
    padding: 5px;
}


.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-1 {
    position: relative;
    top: 50%;
    width: 148px;
    height: 72px;
    margin: -60px auto 0 auto;
    overflow: hidden;
    border-radius: 100px;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #95FF8A;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
}

.knobs:before {
    content: "YES";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 40px;
    height: 20px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 18px 8px;
    background-color: #18FD00;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked+.knobs:before {
    content: "NO";
    left: 84px;
    background-color: #FF000D;
}

#button-1 .checkbox:checked~.layer {
    background-color: #FF8A90;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
    transition: 0.3s ease all;
}

.back, 
.butt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-2{
    position: relative;
    top: 25%;
    width: 150px;
    height: 140px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.back{
    width: 100%;
    background-color: #eee8e8;
    transition: 0.3s ease all;
    z-index: 1;
}

.butt{
    z-index: 2;
    perspective: 150px;
}
.butt:before,
.butt:after{
    position: absolute;  
    color: #615656;
    font-weight: bold;
    line-height: 1;
    transform: rotateX(0);
    transition: 0.6s ease all;

}
.butt:before {
    content: "NO";
    top: 30px;
    left: 65px;
}

.butt:after {
    content: "YES";
    bottom: 40px;
    left: 60px;
}

#button-2 .butt span {
    position: absolute;
    right: 4px;
    height: 60px;
    width: 42px;
    background-color: #d1c0c0;
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    transform: rotateX(0);
    transform-origin: bottom;
    transition: 0.6s ease all;
    z-index: 1;
    top: 10px;
    left: 54px;
}

#button-2 .checkbox:checked~.butt span {
    transform: rotateX(-180deg);
}

.fon,
.baze { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#button-3 {
    position: relative;
    top: 25%;
    width: 150px;
    height: 150px;
    margin: -20px auto 0 auto;
    overflow: hidden;
    border-radius: 100px;
    z-index: 3;
}
.fon {
    width: 100%;
    background-color: #FF3939;
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 100px;
}

.baze {
    top: 29px;
    left: 30px;
    width: 60%;
    height: 60%;
    z-index: 2;
    border-radius: 100%;
}

#button-3 .checkbox:checked~.fon {
    background-color: #40DE40;
    box-shadow: inset 0px 3px 5px 2px rgb(0 0 0 / 50%);
}
h2{
    text-align: center;
    text-decoration: overline;
}
h3{
    text-align: center;
    text-decoration: underline;
}
.block{
    background-color: #fff;
    width: 450px;
    height: 300px;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
    color: black;
    font-size: 52px;
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.flexs{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5%;
}
.grids{
    display: grid;
    grid-template: repeat(6, 200px) / repeat(6, 200px);
    gap: 10px;
    margin-left: 15%;
}
.grids *{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    color: black;
    font-size: 52px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.agrid{
    grid-area: 1/1/5/4;
    background-color: #ff594d;
}
.bgrid{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #ffc14d;
}
.cgrid{
    grid-column: 5/6;
    grid-row: 4/6;
    background-color: #ffed4d;
}
.dgrid{
    grid-area: 5/1/7/3;
    background-color: #90f84b;
}
.egrid{
    grid-column: 3/7;
    grid-row: 6/7;
    background-color: #5a68e5;
}
table{
    margin-left: 7%;
}
th,
tr,
td{
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
    border-collapse: separate;
    padding: 10px;
    margin: 5px;
    font-size: 52px;
    text-align: left;
}
marquee{
    background-image: url(./picture/sky.webp);
    background-repeat: auto;
}
.parts{
    position: relative;
    height: 800px;
}
.scale{
    position: absolute;
    width: 300px;
    height: 150px;
    border-radius: 5px;
    animation: animacolor 3s ease infinite,
        animascale 4s ease-in-out infinite,
        anima1 5s linear infinite;
}
@keyframes animacolor {
    0%{
        background-color: #ff594d;
    }
    25%{
        background-color: #ffc14d;
    }
    50%{
        background-color: #90f84b;
    }
    75%{
        background-color: #5a68e5;        
    }
    100%{
        background-color: #ff594d; 
    }
}
@keyframes animascale {
    0%{
        scale: 100%;
    }
    25%{
        scale: 60%;
    }
    50%{
        scale: 30%;
    }
    75%{
        scale: 60%;
    }
    100%{
        scale: 100%;
    } 
}
@keyframes anima1 {
    0%{
        rotate: 0;
        top: 0%;
        left: 20%;
    }
    25%{
        rotate: 90deg;
        top: 40%;
        left: 35%;
    }
    50%{
        rotate: 180deg;
        top: 80%;
        left: 20%;
    }
    75%{
        rotate: 270deg;
        top: 40%;
        left: 0%;
    }
    100%{
        rotate: 360deg;
        top: 0%;
        left: 20%;
    }
}
.round{
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    right: 15%;
    top: 25%;
    animation: animaround 5s ease-in-out infinite alternate-reverse;
}

@keyframes animaround {
    0% {
      border-radius: 0 0 0 0;
      box-shadow: 0px 0px 20px 5px rgba(255, 61, 47, 0.7);
      transform: rotate(0deg);
    }
    25% {
      border-radius: 50% 0 0 0;
      box-shadow: 0px 0px 20px 5px rgba(255, 172, 47, 0.7);
      transform: rotate(45deg);
    }
    50% {
      border-radius: 50% 50% 0 0;
      box-shadow: 0px 0px 20px 5px rgba(255, 252, 47, 0.7);
      transform: rotate(90deg);
    }
    75% {
      border-radius: 50% 50% 50% 0;
      box-shadow: 0px 0px 20px 5px rgba(47, 255, 57, 0.7);
      transform: rotate(135deg);
    }
    100% {
      border-radius: 50% 50% 50% 50%;
      box-shadow: 0px 0px 20px 5px rgba(47, 179, 255, 0.7);
      transform: rotate(180deg);
    }
}
.over-font{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    font-size: 2.5rem;
    border-top: solid 1px black;
    border-left: solid 1px black;
    margin: 0 2% 0 2%;
}
.over-font *{
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#Rabbits{
    font-family: 'Rabbit';
}
#Lumioses{
    font-family: 'Lumios';
}